{
  "plugins": [
    // class constructor 내부가 아니어도 멤버변수의 초기화 및 대입이 가능하게 됩니다
    // constructor에서 bind를 해줘야하는 메소드 대신, 멤버변수에 arrow function을 대입하면 bind가 필요 없어집니다
    // https://babeljs.io/docs/en/next/babel-plugin-proposal-class-properties.html
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // React.lazy를 지원하기 위한 dynamic import 설정
    // https://reactjs.org/docs/code-splitting.html
    // https://babeljs.io/docs/en/next/babel-plugin-syntax-dynamic-import.html
    "@babel/plugin-syntax-dynamic-import",
    // react-hot-loader 사용
    // https://github.com/gaearon/react-hot-loader
    "react-hot-loader/babel"
  ],
  "presets": [
    // 최신문법 트랜스파일 범위를 브라우저 버전이나 점유율을 이용하여 결정
    // https://babeljs.io/docs/en/babel-preset-env
    ["@babel/preset-env", { "targets": { "ie": "11" } }],
    "@babel/preset-typescript", // typescript 변환
    "@babel/preset-react" // jsx 문법 지원
  ]
}
